.btn {
  @include button-reset;
  padding: spacing(sm, px);
}

.btn--white {
  background-color: color(white);
  border: 1px color(grey, 300) solid;
  transition: 120ms background-color linear;

  &:hover {
    background-color: color(grey, 100);
  }
}

.btn--glass {
  background-color: color(white);
  box-shadow: 0 1px 2px 1px transparentize($color: color(black), $amount: 0.6);
  opacity: 0.667;
  transition: 120ms opacity linear,
              120ms box-shadow linear;

  &:hover,
  &:focus {
    box-shadow: 0 1px 4px 2px transparentize($color: color(black), $amount: 0.8);
    opacity: 1;
  }
}

.btn--round {
  border-radius: 100%;
}

.btn__icon {
  display: block;
}
