.lightbox {
  background-color: color($name: white, $alpha: 0.95);
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.lightbox--closed {
  display: none;
  pointer-events: none;
}

.lightbox__top-bar,
.lightbox__bottom-bar {
  align-items: center;
  background-color: color(white);
  box-shadow: 0 2px 8px 1px color($name: black, $alpha: 0.17);
  display: flex;
  flex: 0 0 auto;
  padding: spacing(sm, px) spacing(md, px);
}

.lightbox__button {
  flex: 0 auto;
}

.lightbox__button--close {
  margin-left: auto;
}

.lightbox__button--prev {
  margin-right: auto;
}

.lightbox__button--next {
  margin-left: auto;
}

.lightbox__counter {
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}

.lightbox__slide {
  flex: 1 auto;
  overflow-y: auto;
}
