@mixin button-reset {
  appearance: none;
  background: 0;
  cursor: pointer;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
}

@mixin accent-bar($over: true, $color: color(accent), $margin: spacing(sm), $width: spacing(xl, px), $height: 2px) {
  @if $over == true {
    &::before {
      content: '';
      display: block;
      width: $width;
      border-bottom: $height $color solid;
      margin-bottom: $margin;
    }
  } @else {
    &::after {
      content: '';
      display: block;
      width: $width;
      border-top: $height $color solid;
      margin-top: $margin;
    }
  }
}

@mixin link {
  color: color(accent);
  text-decoration: none;
  border-bottom: 2px color($name: accent, $alpha: 0.33) solid;
  padding-bottom: 1px;
  transition: 120ms border-color linear;

  &:hover,
  &:focus {
    border-color: color(accent);
  }
}

@mixin rich-text {
  strong {
    font-weight: font-weight(bold);
  }

  em {
    font-style: italic;
  }

  a {
    @include link;
  }
}
