@mixin button-reset {
  appearance: none;
  background: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

@mixin accent-bar($over: true, $color: color(accent), $margin: spacing(sm), $width: spacing(xl, px), $height: 2px) {
  @if $over == true {
    &::before {
      border-bottom: $height $color solid;
      content: '';
      display: block;
      margin-bottom: $margin;
      width: $width;
    }
  } @else {
    &::after {
      border-top: $height $color solid;
      content: '';
      display: block;
      margin-top: $margin;
      width: $width;
    }
  }
}

@mixin link($colorName: accent) {
  border-bottom: 2px color($name: $colorName, $alpha: 0.33) solid;
  color: color($colorName);
  padding-bottom: 2px;
  text-decoration: none;
  transition: 120ms border-color linear;

  &:active {
    color: color($colorName);
  }

  &:hover,
  &:focus {
    border-color: color($colorName);
  }
}

@mixin rich-text($linkColorName: accent) {
  strong {
    font-weight: font-weight(bold);
  }

  em {
    font-style: italic;
  }

  a {
    @include link($linkColorName);
  }

  & > * + * {
    margin-top: spacing(md);
  }
}
