.projects__item {
  position: relative;

  & + & {
    margin-top: spacing(lg);
  }
}

.project__title {
  @include font($size: h5, $leading: tight, $weight: bold);
  margin-bottom: spacing(sm);

  &::before {
    color: color(accent, $alpha: 0.667);
    content: "\2022";
    position: absolute;
    transform: translateX(-100%) translateX(-4px);
  }
}

.project__links {
  margin-bottom: spacing(sm);
}

.project__link {
  @include link;
  align-items: center;
  display: inline-flex;
  line-height: 1;
  margin-right: spacing(md, px);
}

.project__link-icon {
  margin-right: spacing(xs, px)
}

.project__description {
  @include rich-text;
  color: color(grey, 700);
}
