.section {
  padding: spacing(xl) 0;
}

.section--posters {
  background-color: color(grey, 100);
}

.section__item + .section__item {
  margin-top: spacing(lg);
}

.section__heading {
  @include accent-bar($over: false);
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-weight: 700;
}

.section__blurb {
  margin-top: spacing(sm);
}

.section__blurb--formatted {
  @include rich-text;
}
