.section {
  padding: spacing(xl) 0;
}

.section:nth-child(2n+1) {
  background-color: color(grey, 100);
}

.section__item + .section__item {
  margin-top: spacing(lg);
}

.section__heading {
  @include accent-bar($over: false);
  font-weight: 700;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.section__blurb {
  margin-top: spacing(md);
}

.section__blurb--formatted {
  @include rich-text;
}
